.card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 90px;
    vertical-align: middle;
}

.info {
    text-align: left;
    vertical-align: center;
    margin-left: 10px;
}

img {
    object-fit: contain;
}

button {
    color: #f94c57
}