.holder {
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    text-align: center;
}

.input-field {
    margin: 0 auto;
    width: 300px;
    text-align: center;
}

.failedIDsText {
    color: white
}

.must-connect {
    color: white;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 8px;
}

.mat-raised-button[disabled] {
    color: black;
    background-color: white;
    opacity: 50%;
}

.spinner {
    margin: 16px auto;
}