<div class="holder">
    <div class="input-area">
        <input class="input-field" type="text" pInputText placeholder="Spotify playlist link" />
        <button mat-raised-button color="accent">
            <mat-icon>compare_arrows</mat-icon>
            Convert!
        </button>
        <input class="input-field" type="text" pInputText placeholder="Apple Music playlist link" />
    </div>
    <br><br>
    <div class="input-area">
        <input class="input-field" type="text" pInputText placeholder="Spotify playlist link" />
        <button mat-raised-button color="accent">
            <mat-icon>compare_arrows</mat-icon>
            Convert!
        </button>
        <input class="input-field" type="text" pInputText placeholder="Apple Music playlist link" />
    </div>
</div>
<!-- <mat-card class="main_list">
    <mat-card-title>A Breakdown of our Libraries</mat-card-title>
    <mat-card-content>
        <mat-list role="list" class="list">
            <h1>We use Angular Matierals for the Card Background, and this List.</h1>
            <div>
                <accordion>
                    <accordion-group heading="Library and Use">
                        <p>We use NGX-Bootstrap to create these collapsable sections</p>
                        <p>We will use these to show lists with detail in our app</p>
                    </accordion-group>
                    <accordion-group heading="All Star - Smash Mouth">
                        <p>All Star</p>
                        <p>Smash Mouth</p>
                        <p>some random stuff about this song</p>
                    </accordion-group>
                </accordion>
            </div>
            <br>
            <br>
            <div>
                <h3>This is an input field, provided by the Prime NG library. We will use this to take input from our users</h3>
                <input type="text" pInputText placeholder="Spotify playlist link" />
            </div>
            <br>
            <br>
            <div>
                <h3>This is a progress view, provided by the Prime NG library. We will use this to show progress to our viewers</h3>
                <p-progressSpinner></p-progressSpinner>
            </div>
        </mat-list>
    </mat-card-content>

</mat-card> -->