<div class="holder">
    <div class="input-area">
        <input class="input-field" type="text" pInputText placeholder="Spotify playlist link" (input)="gotInputPlaylist()" [(ngModel)]="spotifyLink" />
        <button mat-raised-button color="accent" (click)="convert()" [disabled]="!canRetry">
            <mat-icon>compare_arrows</mat-icon>
            Convert!
        </button>
        <input class="input-field" type="text" pInputText placeholder="Apple Music playlist link" [(ngModel)]="appleLink" *ngIf="appleLink.length == 0" />
        <a mat-raised-button class="input-field" href="{{appleLink}}" *ngIf="appleLink.length > 0">Open in Apple Music</a>
    </div>
    <br><br>
    <div class="input-area">
        <mat-card class="song-container" [ngStyle]="{'visibility': hasSongs ? 'visible' : 'hidden'}">
            <mat-card-header>
                <mat-card-title>Songs to convert from {{playlistName}}</mat-card-title>
            </mat-card-header>
            <song-row class="card-item" *ngFor="let song of songs" [song]="song"></song-row>
        </mat-card>
        <div>
            <p-progressSpinner [ngStyle]="{'visibility': loading ? 'visible' : 'hidden'}"></p-progressSpinner>
            <div [ngStyle]="{'visibility': (failedIDs.length > 0 && !loading) ? 'visible' : 'hidden'}">
                <h4 class="failedIDsText">{{failedIDs.length}} songs failed to convert</h4>
                <button mat-raised-button color="accent" (click)="retry()" ng-disabled="!hasSongs" [ngStyle]="{'visibility': (failedIDs.length > 0 && !loading && canRetry) ? 'visible' : 'hidden'}">
                    <mat-icon>refresh</mat-icon>
                    Retry?
                </button>
            </div>
        </div>
        <mat-card class="song-container" [ngStyle]="{'visibility': hasConvertedSongs ? 'visible' : 'hidden'}">
            <mat-card-header>
                <mat-card-title>Songs converted from {{playlistName}}</mat-card-title>
            </mat-card-header>
            <song-row class="card-item" *ngFor="let song of convertedSongs" [appleSong]="song"></song-row>
        </mat-card>
    </div>
</div>