.holder {
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    text-align: center;
}

.login-card {
    width: 325px;
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 5%;
}

.am-button {
    color: white;
    background-color: #f94c57;
    width: 90%;
}

.slider {
    width: 90%;
    font-weight: bold;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #f94c57;
}

:host ::ng-deep .mat-slide-toggle .mat-slide-toggle-thumb {
    background-color: snow
}