<div class="holder">
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>Settings</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <br><br>
            <button mat-raised-button class="am-button" (click)="authorize()" *ngIf="!this.appleAuth.isAuthorized">
                <mat-icon>apple</mat-icon>
                Connect your Apple Music account
            </button>
            <button mat-raised-button class="am-button" (click)="unauthorize()" *ngIf="this.appleAuth.isAuthorized">
                <mat-icon>apple</mat-icon>
                Disconnect your Apple Music account
            </button>
            <br><br>
        </mat-card-content>
    </mat-card>

</div>