<div class="holder">
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>Settings</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <br>
            <button mat-raised-button class="spotify-button">
                <mat-icon> account_box </mat-icon>
                Connect your Spotify account
            </button>
            <br><br>
            <button mat-raised-button class="am-button">
                <mat-icon>apple</mat-icon>
                Connect your Apple Music account
            </button>
            <br><br>
        </mat-card-content>
    </mat-card>

</div>