<div class="App">
    <div class="image-blurred-edge playlist"></div>
    <section class="App-header">
        <i class="material-icons school">compare_arrows</i>
        <br/><br/>
        <h1 class="text">Welcome to the SPAM-Converter</h1>
        <button mat-raised-button class="Sign-Up-Button" routerLink="/register">Sign Up</button>
        <h2 class="text">or</h2>
        <span class="text"> Already have an account? <button class="Login-Button" routerLink="/login">Login</button></span>
    </section>
    <div class="image-blurred-edge people"></div>
</div>