/* .text {
    color: white;
} */

.bar {
    color: white;
    background-color: black;
}

.username {
    text-align: center;
    color: white;
    font-style: normal;
}

.example-spacer {
    flex: 1 1 auto;
}